<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pengolahan Citra</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
    </head>
    <body>
        <header id="header">
            <h2>Home – Pengolahan Citra</h2>
            <nav class="nav-links">
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('tugas1') }}">Tugas 1</a>
                <a href="{{ url_for('tugas2') }}">Tugas 2</a>
                <a href="{{ url_for('tugas3') }}">Tugas 3</a>
            </nav>
        </header>

        <main id="content-index">
            <div class="bio-container">
                <h2>Selamat datang di website pengolahan citra!</h2>
                <h3>Silakan berpindah ke halaman yang diinginkan pada navigasi bar di atas</h3>
            </div>
        </main>

        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
