<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pengolahan Citra</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
    </head>
    <body>
        <header id="header">
            <h2>Tugas 1 – Threshold</h2>
            <nav class="nav-links">
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('tugas1') }}">Tugas 1</a>
                <a href="{{ url_for('tugas2') }}">Tugas 2</a>
                <a href="{{ url_for('tugas3') }}">Tugas 3</a>
            </nav>
        </header>

        <main id="content-nonindex">
            <div class="bio-container">
                <form
                    id="upload-form"
                    method="POST"
                    action="/upload_tugas1"
                    enctype="multipart/form-data"
                >
                    <div class="form-group">
                        <label for="image">Pilih Gambar:</label>
                        <input
                            type="file"
                            id="image"
                            name="image"
                            accept="image/*"
                            required
                        />
                    </div>

                    <button type="submit" class="btn-proses">
                        Proses Citra
                    </button>
                </form>
                <!-- Preview -->
                <div id="preview-container" {% if processed_url %}style="display: none;"{% endif %}>
                    <h3>Preview Citra:</h3>
                    <img id="preview" src="#" alt="Preview">
                </div>

                <!-- Hasil -->
                <div class="image-comparison" {% if not processed_url %}style="display: none;"{% endif %}>
                    <div class="image-box">
                        <h3>Citra Asli</h3>
                    <img src="{{ url_for('uploaded_file', filename=original_url) }}" alt="Original">
                </div>

                <div class="image-box">
                    <h3>Hasil Pengolahan Metode {{ method }}</h3>
                    <img src="{{ url_for('uploaded_file', filename=processed_url) }}" alt="Hasil">
                </div>
            </div>
            </div>
        </main>

        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
